<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="text-center text-light">
              <h1>What I played?</h1>
              <h6>Solve this question!!</h6>
            </div>
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/assets/gt-r.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/assets/acecombat.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/assets/biohazard.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/assets/splatoon.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/assets/lastofus.jpg" alt="Fourth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/assets/darksoul.jpg" alt="Fifth slide">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light mt-5">
      <div class="row">
        <div class="col-12 mt-3 mb-3">
          <h3 class="text-center">How to use?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row">
            <div class="col-4">
              <img class="d-block img-fluid" src="/assets/question.jpg" alt="Question Image">
            </div>
            <div class="col-8 mt-1">
              <p></p>
              <p></p>
              <p>・どういうアプリなの？</p>
              <p>・何が便利なの？</p>
              <p>・ゲーム以外のコンテンツは記録できないの？</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-8 mt-5">
              <p></p>
              <p class="mb-3">・プレイしたゲームとか、これからやりたいゲームを記録するアプリです。</p>
              <p class="mb-3">・何のゲームをやってて、何のゲームをプレイし終わったかが一覧でわかります。</p>
              <p>・ゲーム以外には映画や漫画が記録できます。</p>
            </div>
            <div class="col-4 mt-3">
              <img class="d-block img-fluid" src="/assets/ok.jpg" alt="Answer Image">
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
