<header class="container-fluid mb-3">
  <div class="align-middle pt-5 text-center text-light">
    <h1 class="pt-5 pb-5 display-3 font-weight-normal">What I played?</h1>
    <h1 class="pt-5 text-uppercase display-4">Solve this question!!</h1>
  </div>
</header>
<div class="container overflow-hidden mb-5">
  <div class="text-center text-dark mt-5 mb-5">
    <h1>SERVICES</h1>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <img src="/assets/game.png" width="150" height="150">
      <div class="text-center mt-2">
        <h2>Game</h2>
        <p class="text-secondary">何のゲームをやったかもしくはやりたいかなど、自分の好きなように書き溜めることができます。</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/assets/book.png" width="150" height="150">
      <div class="text-center mt-2">
        <h2>Comic</h2>
        <p class="text-secondary">何の漫画を読んだかもしくは読みたいかなど、自分の好きなように書き溜めることができます。</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/assets/film.png" width="150" height="150">
      <div class="text-center mt-2">
        <h2>Movie</h2>
        <p class="text-secondary">何の映画を見たかもしくは見たいかなど、自分の好きなように書き溜めることができます。</p>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
