// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel-item {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.bg-light {
  border-radius: 6px;
}
