// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-fluid {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 630px;
}
