<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tracking Hobbies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Homes", '/user/index', class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hobbies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Games", games_path, class:"dropdown-item" %>
            <%= link_to "Movies", movies_path, class:"dropdown-item" %>
            <%= link_to "Comics", comics_path, class:"dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Coming soon...</a>
        </li>
      </ul>
    </div>
  </nav>
</header>